table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
  color: #000000;
  margin: 0 auto;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #000000;
  color: #fff;
  font-family: 'Inconsolata', monospace;
  font-weight: 800;
}

td{
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}

tr{
  background-color: #2d2d2d;
  color: #fff;
}

tr:nth-child(even) {
    background-color: #212121;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

